.position-info p {
  margin: 0.5rem 0;
}

.position-info ul:last-of-type {
  margin-left: 0.25rem;
  margin-top: 0.75rem;
}

.position-info ul:last-of-type li {
  color: rgb(100 116 139 / var(--tw-text-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  padding-inline-start: 0.5rem;
}

.position-info ul:last-of-type li::marker {
  color: rgb(100 116 139 / var(--tw-text-opacity));
  content: "■";
  font-size: 0.4rem;
}
