.ui-loading {
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.ui-loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 5px solid #cdd2da;
  border-radius: 50%;
  animation: ui-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cdd2da transparent transparent transparent;
}
.ui-loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.ui-loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.ui-loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ui-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
